---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  {% assign author = site.authors[page.author] %}
  <div class="meta">
      <span class="author"><!--<img src="http://www.gravatar.com/avatar/{{ author.gravatar }}.png?s=40">-->by {{ author.display_name }}</span> on <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
  </div>

  {{ content | split: '<!-- more -->' | first }}

</div>

<div class="bottom-stuff">

  <h4>If you enjoyed this piece, please share.</h4>


        <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup {clear:left; }
        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="http://patrickwoods.us8.list-manage1.com/subscribe/post?u=a66405d0b7f8430c47d961cfc&amp;id=34fd4bfbd2" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding-top: 30px;">
        <label for="mce-EMAIL" style="font-size:1.1rem; font-weight:normal;">Startup branding news and advice, in your inbox. </label>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required style="font-size:1rem;">
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_a66405d0b7f8430c47d961cfc_34fd4bfbd2" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe Now" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </form>
      </div>

      <!--End mc_embed_signup-->

  <p>Still need help? I’m offering free 30-minute Google Hangout office hour sessions to take questions about startup branding and messaging. No strings attached. <a href="http://bit.ly/19hJb8c"><strong>Complete this form</strong></a> if that interests you.</p>

</div> 

<div class="related">
  <h2>Other posts you should read</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h4>
          <a href="{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date: '%B %d, %Y' }}</small>
          </a>
        </h4>
      </li>
    {% endfor %}
  </ul>
</div>